a {
  text-decoration: none;
}

.logo {
  display: block;
}

.nav {
  &__item {
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    display: flex;
  }

  &__link {
    display: block;
    padding: 23px 0;
    color: #000;
    font-weight: 500;
    font-size: 12px;
  }

  &__link:hover {
    color: #00acdc;
  }
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  border-radius: 8px;
  height: 4px;
  width: 37px;
  content: '';
  bottom: 0.6%;
  left: 0;

  background-color: #00acdc;
  position: absolute;
}
